<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>oo 고등학교 3학년 학생 정보 관리 시스템에 오신 것을 환영합니다</h1>
<button onclick="location.href='/stu/7'">7번 학생 조회하기</button>
<button onclick="location.href='/stu/list'">전체 학생 목록 조회하기</button>
<button onclick="location.href='/stu/querymethod'">?반 이상 학생 정보 조회하기</button>
<button onclick="location.href='/stu/regist'">학생 입력하기</button>
<button onclick="location.href='/stu/modify'">학생 이름 수정하기</button>
<button onclick="location.href='/stu/delete'">학생 삭제하기</button>
</body>
</html>